* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
}
.he1 {
  margin-top: 6%;
}
.he2 {
  margin-bottom: 5%;
}
.heading {
  color: hsl(183, 100%, 15%);
  font-weight: 700;

  display: flex;
  /* margin-left: auto;
    margin-right: auto; */
  justify-content: center;
  align-items: center;

  /* margin: auto;
    width: 50%;
    height: 50%;
    text-align: center; */
}
.column {
  /* float: left; */
  /* display: flex; */

  /* width: 50%; */
  margin: auto;
  padding: 30px;
  /* height: 300px; Should be removed. Only for demonstration */
}
.c1 {
  border-radius: 25px 0px 0px 25px;
  margin-right: 0px;
}
.c2 {
  border-radius: 0px 25px 25px 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  color: hsl(184, 14%, 43%);
  display: inline-block;
  font-weight: 700;
  text-align: left;
}
span{
  float: right;
 margin-top: 16px;
 color: red;
}
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  font-weight: 400;
  min-width: 40px;
  color: hsl(184, 14%, 56%);
}
.row {
  display: flex;
  /* flex-direction: row; */
}

input {
  border-radius: 3px;
  border: 0px;
  display: flex;
  background-color: hsl(189, 41%, 97%);
}
input,
select,
textarea {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  
}
::placeholder {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: right;
}
input:focus{
  /* border: 3px solid hsl(262, 75%, 48%); */
  outline-color:   hsl(172, 67%, 45%);
}
input:hover{
  cursor: pointer;
  outline-color:   hsl(172, 67%, 45%);
}
.Tip:hover{
  cursor: pointer;
}
.red:focus{
  outline-color: red;
}
.selecttip{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  /* text-align: center; */
}
.Tip{
  text-align: center;
  color: white;
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding:5px;
  font-weight: 700;
  /* text-align : center; */
}
.TipC{
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);

}
.Selected{
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.Custom{
  border-radius: 5px;
  padding: 5px;;
  color: hsl(184, 14%, 43%);
  font-weight: 700;
  text-align: center;
  display: inline-block;
  width: 110px;
  font-size: 15px;
  background-color: hsl(189, 41%, 97%);
}
.Custom::placeholder{
  font-weight: 700;
  font-size: 15px;
}

.edit{
   text-align: right;
   color: hsl(183, 100%, 15%);
   font-size: 15px;;
}
.edit:focus{
  outline-color:   hsl(172, 67%, 45%);
}
.right{
 background-color: hsl(183, 100%, 15%);
 /* padding: 30px; */
 border-radius: 25px;
 padding: 40px;
 width: 350px;


}
.left{
  width: 350px;
}


.grid1{
  display: grid;
  grid-template-columns: repeat(2,fr);

}
.Titotal{
  color: white;

}
.perperson{
  color: hsl(184, 14%, 43%);
}
.Amount{
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  text-align: right;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
  font-size: xx-large;
  
}
.reset{
  text-align: center;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(172, 67%, 45%);
}
.reset:hover{
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
