* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);

}
.he1 {
  margin-top: 6%;
}
.he2 {
  margin-bottom: 5%;
}
.heading {
  color: hsl(183, 100%, 15%);
  font-weight: 700;

  display: flex;
  /* margin-left: auto;
    margin-right: auto; */
  justify-content: center;
  align-items: center;

  /* margin: auto;
    width: 50%;
    height: 50%;
    text-align: center; */
}
.column {
  float: left;
  /* display: flex; */

  /* width: 50%; */
  margin: auto;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.c1 {
  border-radius: 25px 0px 0px 25px;
  margin-right: 0px;
}
.c2 {
  border-radius: 0px 25px 25px 0px;
  margin-left:0px ;
}
p{
    color : hsl(184, 14%, 43%);
    font-weight: 700;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  font-weight: 400;
  min-width: 40px;
  color: hsl(184, 14%, 56%);
}
.row{
 display: flex;
 justify-content: center;
}

input{
    border-radius: 10px;
    border: 0px;
   display: flex;
    background-color: hsl(189, 41%, 97%);
}
input, select, textarea{
    color: hsl(183, 100%, 15%) ;
    font-weight: 700;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: right;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
